.search-container {
    width: 100%;
    height: 130px;
}

.searchbox-container {
    margin-left: 10%;
    width: 80%;
    height: 60px;
}


.user-item {
    width: 100%;
    height: 80px;
    border: #efefef solid 1px;
    border-radius: 10px;
    margin-top: 5px;
    transition: all 0.5s ease-out;
}

.user-item:hover {
    border: #888 solid 1px;
    transform: scale(1.01);
    transition: all 100ms ease-in;
}

.avatar-container {
    width: 60px;
    height: 60px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.user-item-info {
    vertical-align: top;
    width: calc(100% - 180px);
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    border-left: #efefef solid 1px;
}

.user-item-info h4 {
    padding: 0px;
    margin-top: 0px;
    margin-left: 10px;
}

.user-item-info p {
    padding: 0px;
    margin-top: 0px;
    margin-left: 10px;
}

.user-item-opt {
    vertical-align: top;
    width: 60px;
    height: 60px;
    padding: 10px;
    display: inline-block;
}

.user-item-opt svg {
    width: 30px;
    height: 30px;
    padding: 15px;
    fill: #aaa;
}

.user-item-opt svg:hover {
    fill: #888;
}

.search-form {
    width: 80%;
    margin-left: 10%;
    height: 40px;
    margin-top: 60px;
    border-radius: 20px;
    border: #efefef solid 1px;
    padding: 5px;
    overflow: hidden;
}

.search-form  input {
    width: calc(100% - 80px);
    height: 100%;
    border: none;
    display: inline-block;
    padding: 5px;
    padding-right: 0px;
    font-size: 20px;
}

.search-form input:focus {
    outline: none;
}

.search-form button {
    width: 50px;
    height: 70px;
    vertical-align: middle;
    display: inline-block;
    background-color: #fff;
    border: none;
}

.search-form button svg {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    padding: 10px;
    fill: #888;
    background-color: #fff;
}

.search-form button svg:hover {
    fill: #3b5998;
}

.search-tabs {
    width: 100%;
    height: 60px;
    text-align: center;
    border-bottom: #efefef solid 1px;
}

.search-tabs h3 {
    padding: 0px 10px;
    display: inline-block;
    color: #888;
    cursor: pointer;
    user-select: none;
}

.search-tabs .selected-searchtab {
    color: #3b5998;
    border-bottom: #3b5998 solid 3px;
}



.post_edit {
    width: calc(100% - 60px);
    height: 65px;
    border-bottom: #efefef solid 1px;
    display: inline-block;
}

.post_headbar {
    padding-left: 10px;
    width: calc(100% - 20px);
    height: 40px;
    border-bottom: none;
}

.post_textinput {
    padding-left: 10px;
    width: calc(100% - 20px);
    min-height: 65px;
}

.post_headbar svg {
    width: 20px;
    height: 20px;
    padding: 10px;
    display: inline-block;
    fill: #afafaf;
    transition: scale 0.5s ease-out;
}

.post_headbar svg:hover {
    fill: #3b5998;
    transition: all 100ms ease-in;
}

.post_textinput textarea {
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 30px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    resize: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: #efefef solid 1px;
}

.post_textinput textarea:focus {
    outline: none;
}

.post_bottom {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 40px;
}

.post_bottom p {
    color: #afafaf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    padding-top: 5px;
}

.post_btn {
    user-select: none;
    display: inline-block;
    padding: 0px;
    width: 60px;
    height: 36px;
    border-radius: 10px;
    border: #3b5998 solid 2px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #3b5998;
    font-size: 18px;
    background-color: #fff;
    transition: all 100ms ease-in;
    float: right;
    margin-right: 10px;
}

.post_btn:hover {
    background-color: #3b5998;
    color: #fff;
    transition: scale 0.5s ease-out;
}

.preview_img {
    padding: 5px;
    width: 50px;
    height: 30px;
}

.comments-container {
    width: 100%;
}


.forward_edit {
    width: calc(100% - 60px);
    height: 65px;
    display: inline-block;
}

.forward_headbar {
    padding-left: 10px;
    width: calc(100% - 20px);
    height: 40px;
    border-bottom: none;
}

.forward_textinput {
    padding-left: 10px;
    width: calc(100% - 20px);
    min-height: 65px;
}

.forward_headbar svg {
    width: 20px;
    height: 20px;
    padding: 10px;
    display: inline-block;
    fill: #afafaf;
    transition: scale 0.5s ease-out;
}

.forward_textinput textarea {
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 30px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    resize: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.forward_textinput textarea:focus {
    outline: none;
}

.forward_bottom {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 40px;
}

.forward_bottom p {
    color: #afafaf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    padding-top: 5px;
}

.forward_btn {
    user-select: none;
    display: inline-block;
    padding: 0px;
    width: 100px;
    height: 36px;
    border-radius: 10px;
    border: #3b5998 solid 2px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #3b5998;
    font-size: 18px;
    background-color: #fff;
    transition: all 100ms ease-in;
    float: right;
    margin-right: 10px;
}

.forward_btn:hover {
    background-color: #3b5998;
    color: #fff;
    transition: scale 0.5s ease-out;
}

.forward_user_avatar {
    width: 50px;
    vertical-align: top;
    display: inline-block;
}

.forward_user_avatar img {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.post_card {
    margin-top: 10px;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.5s ease-out;
    text-decoration: none;
    border-bottom: #efefef solid 1px;
}

.post_card_quote {
    padding: 10px;
    margin-top: 10px;
    width: calc(100% - 30px);
    background-color: #fff;
    overflow: hidden;
    transition: all 0.5s ease-out;
    text-decoration: none;
    border-radius: 15px;
    border: #efefef solid 1px;
}

.post_card_quote:hover {
    border: #afafaf solid 1px;
}


.post_card:hover {
    border: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.01);
    transition: all 100ms ease-in;
}

.post_info {
    width: 100%;
    height: 50px;
    overflow: hidden;
    font-family: "Arial", Arial, sans-serif;
}

.post_user_avatar {
    width: 50px;
    vertical-align: top;
    display: inline-block;
}

.post_user_avatar img {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.post_user_avatar a img {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.post_content {
    width: calc(100% - 80px);
    padding: 10px;
    display: inline-block;
    word-break: normal;
}

.post_user_info {
    width: calc(100% - 100px);
    overflow: hidden;
}

.post_info {
    user-select: none;
}

.post_info h3 {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    color: #333;
}

.post_info p {
    margin-top: 8px;
    display: inline-block;
    vertical-align: middle;
    color: #c7c7c8;
}

.post_info p:hover {
    text-decoration: underline;
}

.post_detail {
    font-family: "Arial", Arial, sans-serif;
    width: calc(100% - 50px);
    overflow: hidden;
    padding: 0px;
}

.post_detail a {
    text-decoration: none;
    color: #4a99e9;
    padding-left: 2px;
    padding-right: 2px;
}

.post_detail a:hover {
    text-decoration: underline;
}

.post_album {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    border-radius: 10px;
    border: #efefef solid 1px;
    overflow: hidden;
}

.post_album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post_statistic {
    padding: 10px 0px;
    border-bottom: #efefef solid 1px;
}

.post_statistic p {
    display: inline;
    color: #566370;
    font-size: 13px;
}

.post_statistic b {
    display: inline;
    color: #333;
    font-size: 13px;
}

.post_statistic a b {
    display: inline;
    color: #333;
    font-size: 13px;
}

.post_likes svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-radius: 10px;
    transition: all 0.3s ease-out;
}

.post_likes a svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-radius: 10px;
    transition: all 0.3s ease-out;
}

.post_comment:hover {
    fill: #4a99e9;
    transform: scale(1.01);
    transition: all 0.1s ease-in;
}

.post_forward:hover {
    fill: #53b781;
    transform: scale(1.01);
    transition: all 0.1s ease-in;
}

.post_like:hover {
    fill: #e5397f;
    transform: scale(1.01);
    transition: all 0.1s ease-in;
}

.post_likes p {
    display: inline-block;
    color: #333;
    vertical-align: middle;
    padding-right: 10px;
}