.title-bar {
    width: 100%;
    height: 60px;
    border-bottom: #efefef solid 1px;
}

.title-bar h3 {
    padding-left: 30px;
    padding-top: 10px;
    font-size: 30px;
}

.settings-container {
    width: 100%;
    overflow-x: hidden;
    padding: 20px;
}

.avatar-conatiner {
    display: inline-block;
    width: 100px;
    height: 100%;
}

.avatar-conatiner img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border: #333 solid 2px;
    vertical-align: top;
}

.avatar-conatiner h4 {
    text-align: center;
    text-decoration: underline;
    margin-top: 5px;
}

.information-editing {
    vertical-align: top;
    width: calc(100% - 110px);
    height: fit-content;
    display: inline-block;
}

.setting-item {
    padding: 10px 10px; 
    height: min-content;
}

.setting-item h4 {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    color: #333;
}

.setting-item input {
    width: 300px;
    height: 40px;
    font-size: 22px;
    border-radius: 5px;
    border: #efefef solid 1px;
    color: #333;
}

.setting-item input:focus {
    outline: #3b5998 solid 2px;
}

button {
    background-color: #fff;
    border: #3b5998 solid 2px;
    color: #3b5998;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #3b5998;
    color: white;
}