body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #3b5998
        /*linear-gradient(90deg, #4a99e9, #3b5998);	*/
}

.logo {
    padding-left: 10px;
    padding-top: 20px;
    width: 180px;
    user-select: none;
    overflow: hidden;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #3b5998;
    font-family: "Arial Black", Arial, sans-serif;
    text-align: center;
    transition: scale 0.2s ease-in;
}

.login {
    width: 100%;
    user-select: none;
    overflow: hidden;
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
    color: #333;
    font-family: "Arial Black", Arial, sans-serif;
    text-align: right;
    transition: scale 0.2s ease-in;
    text-align: center;
    margin-bottom: 20px;
}

.login_card {
    margin-left: calc(50% - 200px);
    margin-top: 30px;
    width: 400px;
    height: 760px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 24px #333;
}

.login__field {
    width: 270px;
    margin-left: calc(50% - 135px);
    padding: 20px 0px;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #7875B5;
    margin-left: 12.5%;
}

.login__input {
    border: none;
    margin-left: 12.5%;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #3b5998;
}

.login__button {
    user-select: n;
    margin-top: 10px;
    width: 150px;
    height: 45px;
    text-align: center;
    font-family: "Arial Black", Arial, sans-serif;
    color: #3b5998;
    border: #3b5998 solid 2px;
    font-size: 30px;
    padding: 5px 20px;
    margin-left: calc(50% - 95px);
    border-radius: 27.5px;
    transition: all 0.3s ease-out;
}

.login__button:hover {
    transition: all 0.1s ease-in;
    background-color: #3b5998;
    color: #fff;
}

.register_area {
    margin-top: 20px;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.register_area p {
    display: inline;
    color: #999;
}

.register_area a {
    display: inline;
    text-decoration: none;
    color: #4a99e9;
    display: inline;
}

.register_area a:hover {
    text-decoration: underline;
}

.split-bar {
    margin-top: 20px;
    position: relative;
    font-size: 10px;
    color: #999;
    overflow: hidden;
    text-align: center;
}

.split-bar::before,
.split-bar::after {
    content: '';
    display: inline-block;
    width: 10%;
    height: 1px;
    background-color: #777;
    position: absolute;
    top: 50%;
}

.split-bar::before {
    margin-left: calc(50% - 88.5px);
    overflow: hidden;
    display: block;
    box-sizing: border-box;
}

.split-bar::after {
    margin-left: 10px;
}

.thirdparty_login {
    width: 90px;
    margin-left: 155px;
}

.thirdparty_icon {
    padding: 0px;
    margin: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.thirdparty_icon svg {
    padding: 5px;
    width: 30px;
    height: 30px;
}